@model EntityLayer.Concrete.Category


@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h1>Yeni Kategori Girişi</h1>
<br />
@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
{
    @Html.Label("Kagetori Adı")
    @Html.TextBoxFor(x=>x.CategoryName, new {@class="form-control" })
    @Html.ValidationMessageFor(x=>x.CategoryName)
    <br />
    @Html.Label("Kategori Açıklaması")
    @Html.TextBoxFor(x=>x.CategoryDescription, new {@class="form-control" })
    @Html.ValidationMessageFor(x=>x.CategoryDescription);
    <br />
    <button class="btn btn-info">Kategoriyi Kaydet</button>
}

