@model EntityLayer.Concrete.Blog


@{
    ViewData["Title"] = "BlogAdd";
    Layout = "~/Views/Writer/WriterLayout.cshtml";
}

<h1>Yeni Blog Başlığı</h1>


@using (Html.BeginForm("BlogAdd", "Blog", FormMethod.Post))
{
    <br />
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.BlogTitle)
    <br />
    @Html.Label("Görsel")
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.BlogImage)
    <br />
    @Html.Label("Küçük Görsel")
    @Html.TextBoxFor(x => x.BlogThumbnailImage, new { @class = "form-control" })
    <br />
    @Html.Label("Kategori")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.cv, new { @class = "form-control" })
    <br />
    @Html.Label("İçerik")
    @Html.TextAreaFor(x => x.BlogContent, 15, 3, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.BlogContent)
    <br />
    <button class="btn btn-info">Bloğu Kaydet</button>
}
